.main {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  padding: 3rem 0rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  font-weight: 600;
  letter-spacing: .1cap;
}
.img_box {
  height: 4rem;
  width: 1.2rem;
}
.img_box img {
  height: 100%;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  border-top: 1px #7b0128 solid;
}
.cart_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  border-bottom: 1px #7b0128 solid;
  padding: 1rem 0rem;
}
.para {
  display: grid;
  place-items: center;
  place-content: center;
  letter-spacing: .1cap;
}

.product {
  width: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first_box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  width: 23rem;
  letter-spacing: .1cap;
}
.quantity_box {
  width: 3.5rem;
  padding: 0rem 0rem 0rem 1rem;
  outline: none;
  border: 1px #7b0128 solid;
  color: #7b0128;
}
.del_button {
  width: 2rem;
}
.buttons_box {
  display: flex;
  justify-content: space-between;
  border-top: 1px #7b0128 solid;
  padding: 2rem 0rem;
}
.buttons_box button {
  background-color: none;
  background: transparent;
  padding: 0.3rem 1rem;
  border: 1px #7b0128 solid;
  font-family: "Jost", sans-serif;
  letter-spacing: .1cap;
}
.buttons_box button:hover {
  background-color: #7b0128;
  color: white;
}
.buttons_box2 button {
  background-color: none;
  background: transparent;
  padding: 0.3rem 1rem;
  border: 1px #7b0128 solid;
  font-family: "Jost", sans-serif;
  letter-spacing: .1cap;
}
.buttons_box2 button:hover {
  background-color: #7b0128;
  color: white;
}
.empty_cart  button {
  background-color: none;
  background: transparent;
  padding: 0.3rem 1rem;
  border: 1px #7b0128 solid;
  font-family: "Jost", sans-serif;
  letter-spacing: .1cap;
}
.empty_cart  button:hover {
  background-color: #7b0128;
  color: white;
}
.cart_container h6 {
  font-weight: 600;
  font-family: "Jost", sans-serif;
  letter-spacing: .1cap;
}
.total_price {
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

.buttons_box div {
  width: 30rem;
  display: flex;
  justify-content: space-between;

}
.empty_cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty_cart p{
  font-weight: 600;
  font-family: "Jost", sans-serif;
  letter-spacing: .1cap;
}
@media screen and (max-width:500px) {
  .first_box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    width: 15rem;
    letter-spacing: .1cap;
  }
  .product {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .buttons_box button {
    background-color: none;
    background: transparent;
    padding: 0rem .5rem;
    border: 1px #7b0128 solid;
    font-family: "Jost", sans-serif;
    letter-spacing: .1cap;
  }
  .updatebtn{
    width: 12rem;
  }
}