.addBtn{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#7B0128;
    color: white;
    position: relative;
    right: -6rem;
    top:-1.5rem;
    border: none;
    font-size: medium;
}
.addBtn:hover{
    background-color: #7B0128;
    color: white;
}
