.main{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.img_box{
    height: 4rem;
    width: 4rem;
}
.img_box img{
    height: 100%;
    width: 100%;
}
.product_container{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  width: 100%;
  gap: 2rem;
}
.product_info{
  width: 100%;
  gap: 2rem;
}
.product_item{
  border: 1px #7b0128 solid;
  padding: 2rem;
}
.additional_notes{
  border: 1px #7b0128 solid;
  padding: 2rem;
}
.billing_info_box{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 100%;
  border: 1px #7b0128 solid;
  padding: 2rem;
}