.main {
  height: 30rem;
  width: 100%;
  background-image: url(../../Images/Pattern.webp);
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
}
@media screen and (max-width: 1089px) {
  html {
    font-size: 12px;
    margin-top: 5rem;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .main {
    height: 50rem;
    width: 100%;
  }
}
