.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
}
.slider {
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    width: 100%;
    align-items: center;
  }
  
  .images {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  
  .img_box{
    height: 10rem;
    width: 15.6rem;
    padding: 1rem;
    background-color: #f5e3e3;
  } 
   .img_box img{
    height: 100%;
    width: 100%;
  }

  
  .scrollBtn {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 99!important;
  }
  
  .scrollBtn:first-child {
    left: 10px;
  }
  
  .scrollBtn:last-child {
    right: 10px;
  }

