.main {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden!important;
  position: relative;
}

.background {
  height: 70rem;
  filter: brightness(40%);
  margin-top: -50rem;
  z-index: 99;
}
.background img {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 999 !important;
  position: absolute;
  margin-top: 170rem;
  margin-right: 40rem;
}

.description_box {
  color: white;
  text-align: center;
  z-index: 999 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  font-size: 1.4rem;
}
.description_box h3 {
  color: #f8d8d8;
  font-size: 2.5rem;
  margin-bottom: -.5rem;
}
.description_box h2 {
  font-size: 3.5rem;
  color: rgb(220, 255, 161);
}
.description_box p{
  width: 28rem;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.4rem 2rem;
  font-size: small;
  font-size: large;
  background-color: transparent;
  border-radius: 20px;
  background-color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}
.btn:hover {
  background-color: rgb(222, 220, 220);
  color: rgb(0, 0, 0);
}
.contentmob{
  display: none;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
  .btn{
    font-size: 1rem;
  }
  .main {
    height: 40rem;
   width: 100%;
    overflow: hidden;
  }
  .background img {
    height:40rem;
  }
  .background {
    height: 200%;
    width: 140%;
    filter: brightness(40%);
    margin-top: -140rem;
    background-size: cover;
  }
  .content {
  display: none;
  }
  .contentmob{
    display: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 999 !important;
    position: absolute;
    margin-top: 6rem;
  }
}
