.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form_group {
    margin-bottom: 20px;
  }
  .main form  input[type="text"],
  input[type="tel"],
  input[type="email"] {

      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;

  }

  .main form  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main form button:hover {
    background-color: #45a049;
  }
  
  .order_items{
    display: flex;
    flex-direction: column;

  }
  .header{
    border-bottom: 1px rgb(124, 124, 124) solid;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
    font-weight: 600;
  }
  .order_item{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
  }
  .product_item{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    align-items: center;
    border-bottom: 1px rgb(124, 124, 124) solid;
    width: 100%;

  }