.main {
  height: 16rem;
  background-color: #7b0128;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.breadcrumbs{
  display: flex;
  list-style: none;
  gap: 1rem;
}
.url{
  color: white!important;
}
.breadcrumbItem{
  font-family: "Jost", sans-serif;
}