.carousel_box{
    height: 40rem;
    width: 100%;
}
.button_container{
    height: 40rem;
    width: 93%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    z-index: 9!important;
}
.carousel_box img{
    height: 100%;
    width: 100%;
}
.button_container button{
    background-color: none;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}
.icon{
    font-size: 50px;
}
@media screen and (max-width:784px) {
    .carousel_box{
        height: 60rem;
        width: 100%;
    }
    .button_container{
        height: 54rem;
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        z-index: 9!important;
    }
    .icon{
        font-size: 30px;
    }

  }
  @media screen and (max-width:603px) {
    .button_container{
        width:89%;
    }
  }
  @media screen and (max-width:489px) {
    .button_container{
        width:86%;
    }
  }
  @media screen and (max-width:400px) {
    .button_container{
        width:84%;
    }
  }