.main {
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.description_box {
  color: white;
  text-align: center;
}
.description_box h2 {
  font-size: 3rem;
}

.description_box img {
  width: 30rem;
}
.background {
  height: 110rem;
  width: 110rem;
  filter: brightness(40%);
  margin-top: -15rem;

}
.background img {
  height: 100%;
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  font-size: small;
  letter-spacing: 0.3cap;
  color: white;
  border: 1px white solid;
  font-size: large;
  background-color: transparent;
}
.btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.Parallax::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 999 !important;
  position: absolute;
  margin-top:65rem;
}

@media screen and (max-width: 784px) {
  html {
    font-size: 8px;
  }
  .main {
    height: 80vh;
  }

  .background img {
    height:100rem;
    width:100rem;
  }
  .background {
    height: 200%;
    width: 200%;
    filter: brightness(40%);
    margin-top: -15rem;
    background-size: cover;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 999 !important;
    position: absolute;
    margin-top: 130rem;
  }
  .description_box h2 {
    font-size: 2rem;
  }
}
