.icon_box4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0rem 1rem;
  cursor: pointer;
}
.icon_box4 img {
  height: 1rem;
  width: 2rem;
}
.list {
  padding: 2rem;
}

.list p{
    font-size: 2rem!important;
}